            <div class="search-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="search-content mt-45">
                            <h2 class="search-title">search Our Newsletter <span>get reguler updates</span></h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="search-form mt-50">
                            <form action="#">
                                <input type="text" placeholder="Enter eamil">
                                <button class="main-btn">search</button>
                            </form>
                        </div>
                    </div>
                 </div> <!-- row -->
            </div> <!-- search area -->
